NODE_ENV=development
PORT=4000

# Database
DATABASE_URL=

# Redis
REDIS_URL=

# Supabase Auth (Backend)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Frontend Domain URL
APP_URL=

# Logging level: fatal | error | warn | info | debug | trace | silent
LOG_LEVEL=info